.errorMessage {
    color: red
}

.btnRound {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-style: none;
    margin-left: 10px;
}

.btnAdd {
    background-color: green;
}

.btnDecrease {
    background-color: orange;
}

.btnDelete {
    background-color: red;
}

.paymentCard {
    width: 50%
}

.checkoutButton {
    margin-left: 10px;
}