<form *ngIf="product">
    <div *ngIf="newProduct" class="mb-3">
        <label class="form-label">UPC</label>
        <input class="form-control" [(ngModel)]="product.upc" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input class="form-control" [(ngModel)]="product.productName" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Sale Percentage</label>
        <input class="form-control" [(ngModel)]="product.saleModifier" [ngModelOptions]="{standalone: true}"
            type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Discontinued</label><br>
        <input class="form-control" [(ngModel)]="product.discontinued" [ngModelOptions]="{standalone: true}"
            class="form-check-input" type="checkbox">
    </div>
    <div *ngIf="departments" class="mb-3">
        <label class="form-label">Department</label>
        <select class="form-control" [(ngModel)]="product.departmentName" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let department of departments">{{department.Name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input class="form-control" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Taxed</label><br>
        <input class="form-control" [(ngModel)]="product.taxedTf" [ngModelOptions]="{standalone: true}"
            class="form-check-input" type="checkbox">
    </div>
    <button class="btn btn-success" *ngIf="!newProduct" (click)="submit()">Edit</button>
    <button class="btn btn-success" *ngIf="newProduct" (click)="submit()">Create</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>