<form *ngIf="product">
    <div *ngIf="newProduct" class="form-group">
        <label>UPC:</label>
        <input [(ngModel)]="product.upc" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="form-group">
        <label>Product Name:</label>
        <input [(ngModel)]="product.productName" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="form-group">
        <label>Sale Percentage:</label>
        <input [(ngModel)]="product.saleModifier" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="form-group">
        <label>Discontinued:</label>
        <input [(ngModel)]="product.discontinued" [ngModelOptions]="{standalone: true}" class="form-check-input"
            type="checkbox">
    </div>
    <div *ngIf="departments" class="form-group">
        <label>Department:</label>
        <select [(ngModel)]="product.departmentName" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let department of departments">{{department.Name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Quantity:</label>
        <input [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div class="form-group">
        <label>Taxed:</label>
        <input [(ngModel)]="product.taxedTf" [ngModelOptions]="{standalone: true}" class="form-check-input"
            type="checkbox">
    </div>
    <button *ngIf="!newProduct" (click)="submit()">Edit</button>
    <button *ngIf="newProduct" (click)="submit()">Create</button>
    <button (click)="cancel()">Cancel</button>
</form>